html, body{
    font-family: var(--font-poppins);
    background-color: #EEEEEE;
    text-align: center;

}

.Welcome{
    text-align: center;
    color: #fff;
    background-color: #00ADB5;
}

.Rallita{
    color: aqua
}
